/* Define the custom font */
@font-face {
  font-family: "MyCustomFont"; /* Name your custom font */
  src: url("akira.otf") format("opentype"); /* Specify the path to the .otf file */
  font-weight: normal;
  font-style: normal;
}

body {

    font-family: "MyCustomFont";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff6ebe7;
  }
  
  .btn {
    background-color: #ad4c3c; /* Default background color */
    color: white;
    padding: 10px 20px;
    border: 2px solid white; /* Default border color */
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ff6347; /* Change background color on hover */
    border-color: white; /* Change border color on hover */
}

  .form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    
    input {
      color: rgb(0, 0, 0);
    }
  }

  .form-input-material {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: flex-start; /* Aligne le texte à gauche */
    margin-bottom: 15px;
}

  .form-input-material label {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px; /* Ajoute un peu d'espace entre le label et l'input */
}
  
  .login-form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  
    h1 {
      margin: 0 0 24px 0;
    }
  
    .form-input-material {
      margin: 12px 0;
    }
  
    .btn {
      width: 10%;
      margin: 18px 0 9px 0;
    }
  }